.row
  .small-offset-3.small-9.columns
    %h2.subheader Resend confirmation instructions
  = simple_form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f|
    = devise_error_messages!
    .inputs
      .row
        .small-offset-3.small-6.columns
          = f.input :email, label: "Email"
    .actions
      .row
        .small-offset-3.small-6.columns
          = f.button :submit, "Resend confirmation instructions"
.row
  .small-offset-3
    = render "devise/shared/links"