!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1= "Hi @#{@user.username}!"
    %h2= link_to("@#{@mentioner.username}", user_url(@mentioner)) + " mentioned you in a squeek!"
    %p The squeek was:
    %h3= @squeek.html_safe