= "@#{@user.username}'s profile"

= image_tag @user.gravatar_url

%ul.squeeks
  - @user.squeeks.each do |squeek|
    -if squeek.viewable_by? current_user
      = render squeek

- unless @user == current_user
  - if user_signed_in?
    - if @user.consuming?(current_user)
      = "You are broadcasting to @#{@user.username}."
    - else
      %div#add_consumer_form
        = form_for(current_user.relationships.build(broadcaster_id: @user.id)) do |f|
          %div
            = f.hidden_field :broadcaster_id
          %button
            = f.submit "Broadcast to @#{@user.username}"

