.row
  .small-12.columns
    %h2 Sign in
.row
  .small-12.medium-6.columns
    .panel
      = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
        .inputs
          = f.input :email, label: 'Email / Username', :autofocus => true
          = f.input :password, label: 'Password'
        .actions
          = f.button :submit, "Sign in", class: 'button tiny radius'
  .small-12.medium-6.columns
    .panel
      %p Alternatively, you can sign in via. Twitter!
      - resource_class.omniauth_providers.each do |provider|
        = link_to "Sign in with #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider), class: "button"
.row
  .small-3.columns
    = render "devise/shared/links"
