.row
  .small-offset-3.small-9.columns
    %h2.subheader Sign in

  = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
    .inputs
      .row
        .small-offset-3.small-6.columns
          = f.input :email, label: 'Email / Username', :autofocus => true
      .row
        .small-offset-3.small-6.columns
          = f.input :password, label: 'Password'
      .row
        .small-offset-3.small-6.columns
          - if devise_mapping.rememberable?
            = f.input_field :remember_me, as: :boolean, inline_label: 'Remember me'
    .actions
      .row
        .small-offset-3.small-6.columns
          = f.button :submit, "Sign in", class: 'button tiny radius'
.row
  .small-offset-3
    = render "devise/shared/links"
