!!!
%html
  %head
    %title Squawker
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    = stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Gabriela|Overlock|Averia+Serif+Libre:300,400,700,300italic'
  %body
    .contain-to-grid
      %nav.top-bar
        %ul.title-area
          %li
            .name
              %h1#title
                = link_to "Squawker", root_path
        %section.top-bar-section
          %ul.right
            - if current_user
              %li= link_to "My Profile", user_path(current_user)
              %li.divider
              %li= link_to "Sign Out", destroy_user_session_path, method: :delete
            - else
              %li= link_to "Sign Up", new_user_registration_path
              %li.divider
              %li= link_to "Sign In", new_user_session_path
  .row
    .small-1.columns
      =image_tag "tucan.png", id: 'tucan'
    .row
      .small-offset-1.small-6.columns
        -if flash.notice
          .alert-box.success.radius
            = flash.notice
        -if flash.alert
          .alert-box.warning.radius
            = flash.alert
  = yield

